---

---

<footer class="footer">
	<div class="footer__icon__container">
		<a href="" class="footer__icon__link"
			><img
				class="footer__icon"
				src="public/images/iconmonstr-facebook-4.svg"
				alt="Facebook Icon"
			/></a
		>
		<a href="" class="footer__icon__link"
			><img
				class="footer__icon"
				src="public/images/iconmonstr-email-10.svg"
				alt="Email Icon"
			/></a
		>
		<a href="" class="footer__icon__link"
			><img
				class="footer__icon"
				src="public/images/iconmonstr-phone-8.svg"
				alt="Phone Icon"
			/></a
		>
	</div>
	<p class="copyright__fineprint">
		©2024 Metropolitan Club and Cultural Forum. All Rights Reserved
	</p>
</footer>
