---

---

<header id="hero">
    <div id="slides">
        <img id="slide-image" />
        <img id="slide-image-over" />
    </div>
    <div id="gradient"></div>
    <div class="container">
        <h5>Elevate Your Lifestyle</h5>
        <h1 class="h-plus">METROPOLITAN CLUB</h1>
        <div class="carousel-container">
            <div class="owl-carousel">
                <p class="about-us">
                    The Metropolitan Club was founded by socially conscious
                    businesspeople, professionals, and people with a range of
                    interests who live in and around North Paravoor.
                </p>
                <p class="about-us">
                    Even in busy metropolis of city, the place provides a
                    peaceful atmosphere. The club is conveniently located in
                    Nanthiyatukunnam, approximately 2.25 km from Paravoor town.
                </p>
            </div>
        </div>
    </div>
</header>
