<nav class="navigation__bar">
    <div class="navigation__brand">
        <img
            src="./public/images/favicon.png"
            alt="Brand Logo"
            class="navigation__brand__logo"
        />
        <h4 class="navigation__brand__name">Metropolitan Club</h4>
    </div>

    <div class="navigation__items__wrapper">
        <ul class="navigation__items">
            <li class="navigation__item --mobile__hide">
                <a href="#" class="navigation__item__url">
                    <p class="navigation__item__text --drop-downable">
                        Explore
                    </p>
                </a>

                <ul class="navigation__dropdown">
                    <li class="navigation__dropdown__item">
                        <a
                            href="affiliated-clubs.html"
                            class="navigation__dropdown__url"
                        >
                            <p class="navigation__dropdown__text">
                                Affliated Clubs
                            </p>
                        </a>
                    </li>

                    <li class="navigation__dropdown__item">
                        <a
                            href="office-bearers.html"
                            class="navigation__dropdown__url"
                        >
                            <p class="navigation__dropdown__text">
                                Office Bearers
                            </p>
                        </a>
                    </li>
                    <li class="navigation__dropdown__item">
                        <a
                            href="nearby-attractions.html"
                            class="navigation__dropdown__url"
                        >
                            <p class="navigation__dropdown__text">
                                Nearby attractions
                            </p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="navigation__item">
                <a href="latest-events.html" class="navigation__item__url">
                    <p class="navigation__item__text">Latest Events</p>
                </a>
            </li>

            <li class="navigation__item">
                <a href="facilities.html" class="navigation__item__url">
                    <p class="navigation__item__text">Facilites</p>
                </a>
            </li>

            <li class="navigation__item">
                <a href="membership.html" class="navigation__item__url">
                    <p class="navigation__item__text">Memberships</p>
                </a>
            </li>

            <li class="navigation__item">
                <a href="contacts.html" class="navigation__item__url">
                    <p class="navigation__item__text">Contact</p>
                </a>
            </li>
        </ul>
        <div class="navigation__hamburger__icon">
            <div class="navigation__hamburger__lines"></div>
        </div>
    </div>
</nav>
