---
import BaseHead from "../components/BaseHead.astro";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import PreLoader from "../components/PreLoader.astro";

const { title, description = "" } = Astro.props;
---

<html>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <PreLoader />
    <NavBar />
    <slot />
    <Footer />
  </body>
</html>
